<a href="https://colab.research.google.com/github/MateoPeri/ANALISIS-DE-LA-ACTIVIDAD-EN-REDES-SOCIALES-DE-MARCAS-DE-MODA-EN-NAVIDAD-2019/blob/master/Investigaci%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [0]:
def get_period(col):
  count = 0
  del_count = 0
  for j, hoy in reversed(list(enumerate(col))):
    if j == len(col)-1:
      continue
    # Si el valor de hoy es mayor que el de ayer,
    # es que se ha subido una (o varias) publicaciones
    if hoy > col.iloc[j+1]:
      # añade la diferencia en publicaciones
      # de hoy con respecto a ayer
      count += hoy - col.iloc[j+1]
  return count

In [16]:
path = 'reports/report({}).csv'
final = pd.DataFrame(columns=['username', 'followers', 'following', 'uploads', 'average_engagement_rate'])
for i in range(17):
  df = pd.read_csv(path.format(str(i)))
  df.drop(['date', 'Unnamed: 6'], axis=1, inplace=True)
  follower_diff = df['followers'].iloc[0] - df['followers'].iloc[-1]
  following_diff = df['following'].iloc[0] - df['following'].iloc[-1]
  up = df['uploads'].iloc[0] - df['uploads'].iloc[-1]
  uploads_diff = get_period(df['uploads'])

  final.loc[i] = [df['username'].iloc[0], follower_diff, following_diff, uploads_diff, er]
final

          username followers following uploads  average_engagement_rate
0             nike   2306790         0      12                     0.04
1           adidas    164714         0       3                     0.04
2             zara    513585         0      16                     0.04
3               hm    400584         5      67                     0.04
4             dior    470483         1     375                     0.04
5            gucci    462942         2     107                     0.04
6            levis     37443        12      17                     0.04
7      ralphlauren    130796         0      57                     0.04
8      calvinklein    312849         0      81                     0.04
9        forever21    -86857         6     116                     0.04
10         lacoste     36936         1       7                     0.04
11            puma     91995         0      20                     0.04
12   tommyhilfiger    107566         0      15                     0.04
13    louisvuitton    552659         0      78                     0.04
14            vans     45697         0      32                     0.04
15            boss     82675         0      26                     0.04
16  chanelofficial    310544         0      53                     0.04

In [0]:
final.to_csv('instagram_periodo.csv')